# Environments
.env
.venv
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/

# Vector DB
chroma_db/
